/.vs/Tries/DesignTimeBuild/.dtbcache
/.vs/Tries/DesignTimeBuild/.dtbcache.v2
/.vs/Tries/v16/.suo
/.vs/Tries/v16/Server/sqlite3/db.lock
/.vs/Tries/v16/Server/sqlite3/storage.ide
/AToI/bin/Debug/AToI.exe
/AToI/bin/Debug/AToI.exe.config
/AToI/bin/Debug/AToI.pdb
/AToI/obj/Debug/AToI.csproj.CoreCompileInputs.cache
/AToI/obj/Debug/AToI.csproj.FileListAbsolute.txt
/AToI/obj/Debug/AToI.csprojAssemblyReference.cache
/AToI/obj/Debug/AToI.exe
/AToI/obj/Debug/AToI.pdb
/AToI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AvoidFlood/bin/Debug/AvoidFlood.exe
/AvoidFlood/bin/Debug/AvoidFlood.exe.config
/AvoidFlood/bin/Debug/AvoidFlood.pdb
/AvoidFlood/obj/Debug/AvoidFlood.csproj.CoreCompileInputs.cache
/AvoidFlood/obj/Debug/AvoidFlood.csproj.FileListAbsolute.txt
/AvoidFlood/obj/Debug/AvoidFlood.csprojAssemblyReference.cache
/AvoidFlood/obj/Debug/AvoidFlood.exe
/AvoidFlood/obj/Debug/AvoidFlood.pdb
/AvoidFlood/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BFS/bin/Debug/BFS.exe
/BFS/bin/Debug/BFS.exe.config
/BFS/bin/Debug/BFS.pdb
/BFS/obj/Debug/BFS.csproj.CoreCompileInputs.cache
/BFS/obj/Debug/BFS.csproj.FileListAbsolute.txt
/BFS/obj/Debug/BFS.csprojAssemblyReference.cache
/BFS/obj/Debug/BFS.exe
/BFS/obj/Debug/BFS.pdb
/BFS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BigInt/bin/Debug/BigInt.exe
/BigInt/bin/Debug/BigInt.exe.config
/BigInt/bin/Debug/BigInt.pdb
/BigInt/obj/Debug/BigInt.csproj.CoreCompileInputs.cache
/BigInt/obj/Debug/BigInt.csproj.FileListAbsolute.txt
/BigInt/obj/Debug/BigInt.csprojAssemblyReference.cache
/BigInt/obj/Debug/BigInt.exe
/BigInt/obj/Debug/BigInt.pdb
/BigInt/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BinarySearch/bin/Debug/BinarySearch.exe
/BinarySearch/bin/Debug/BinarySearch.exe.config
/BinarySearch/bin/Debug/BinarySearch.pdb
/BinarySearch/obj/Debug/BinarySearch.csproj.CoreCompileInputs.cache
/BinarySearch/obj/Debug/BinarySearch.csproj.FileListAbsolute.txt
/BinarySearch/obj/Debug/BinarySearch.csprojAssemblyReference.cache
/BinarySearch/obj/Debug/BinarySearch.exe
/BinarySearch/obj/Debug/BinarySearch.pdb
/BinarySearch/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BST_Inorder_Traversal/bin/Debug/BST_Inorder_Traversal.exe
/BST_Inorder_Traversal/bin/Debug/BST_Inorder_Traversal.exe.config
/BST_Inorder_Traversal/bin/Debug/BST_Inorder_Traversal.pdb
/AToI/obj/Debug
/AvoidFlood/obj/Debug
/BFS/obj/Debug
/BigInt/obj/Debug
/BinarySearch/obj/Debug
/BSTSort/bin/Debug
/BSTSort/obj/Debug
/BST_Inorder_Traversal/obj/Debug
/CarPool/bin/Debug
/CarPool/obj/Debug
/ClimbStairs/bin/Debug
/ClimbStairs/obj/Debug
/DaysBetweenDates/bin/Debug
/DaysBetweenDates/obj/Debug
/DesignLinkedList/bin/Debug
/DesignLinkedList/obj/Debug
/Division/bin/Debug
/Division/obj/Debug
/GoogleSearch/bin/Debug/netcoreapp3.1
/GoogleSearch/obj
/MinJumpsToReachHome/bin/Debug
/MinJumpsToReachHome/obj/Debug
/ModeInBST/bin/Debug
/ModeInBST/obj/Debug
/NthHighestInList/bin/Debug
/NthHighestInList/obj/Debug
/OrderMatchingEngine/bin/Debug
/OrderMatchingEngine/obj/Debug
/QuickSort/bin/Debug
/QuickSort/obj/Debug
/SellMaxDiminishingValues/bin/Debug
/SellMaxDiminishingValues/obj/Debug
/SimplifyDirPath/bin/Debug
/SimplifyDirPath/obj/Debug
/ValidateBST/obj/Debug
/ValidateBST/bin/Debug
/WordsToMorseCode/obj/Debug
/WordsToMorseCode/bin/Debug
/Personal/Tries/Tries/.vs/Tries
/Personal/Tries/Tries
